*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;

}   

::-webkit-scrollbar {
    width: 12px;
    background-color: lightgrey
  }

  ::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 40px;
  }
  


header{
    padding: 1%;
    background-color: #2E8B57;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container > img {
    margin-left: 5%;
    cursor: pointer;
}

.fa-bars{
    color: white;
    margin-right: 5%;
    font-size: 30px;
    cursor: pointer;
    margin-left: 100%;
}

.Search-Bar{
    height: 2rem;
    padding: 5px;
    width:0;
    opacity: 0;
    text-align: center;
    transition: 0.3s;
}

.Search-Bar:focus,
.Search-Bar.expanded{
    width: 40%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 10px;
}



.search-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.search-btn{
    height:inherit;
    background-color: transparent;
    border: none;
}

#search-form{
    width: 100%;
    /* border: solid black 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-search{
    font-size: 1.5rem;
    cursor: pointer;
}

.fy-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.fy-item-container:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.fy-item-container{
    height: 100%;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    
}

main{
    width: inherit;
    display: flex;
    flex-direction: row;
}

.nav-bar-out{
    width: 200px;
    height: 100%;
    position:absolute;
    left: -100%;
    background-color: #2E8B57;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

aside{
    width: 0;
}

.nav-bar-out.out {
    left: 0;
    transition: all 0.3s ease;
}


.nav-bar-item{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
}

.nav-bar-item:hover{
    background-color: #267548;
    transition: all 0.2s ease-in;
}

a{
    text-decoration: none;
    color:inherit;
    cursor:default;
}

.selected-page{
    background-color: #267548;
}

.title{
    height: 100%;
    padding: 0px 20px;
}

a > i{
    margin-right: 10px;
}
.nav-bar-item-contents{
    /* border: solid white 1px; */
    display: flex;
    width: 110px;
    flex-direction: row;
    height: 100%;
    /* justify-content: space-between; */
}

.fy-item-container > img{
    border: solid red 2px;
    width: 99px;
    height: 99px;
    object-fit: cover;
    border-radius: 50%;
}

.fy-item-container > img:hover{
    /* border: solid black 2px; */
    transition: all 0.2s ease-in;
}

.recently-viewed, .search-results, .results-container{
    margin-top: 3rem;
    display:flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
}

.rw-item-container{
    color: white;
    background-color: #333333;
    max-width:250px;
    height: 300px;
    margin: 2rem;
}

.top-container:hover{
    cursor: default;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.top-container{
    background: linear-gradient(to bottom, #444444, #333333);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container > img{
    border: solid 2px black;
    width: 250px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 20px;
}

.bottom-container{
    height: 30px;
    /* border: 1px white solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.recently-viewed > h3{
    display: block;
    color: black;
}

.fab{
    font-size: 20px;
    transition: all 0.2s ease-in-out
}

.fab:hover{
    font-size: 25px;
    transition: all 0.2s ease-in-out
}

.heart-container{
    /* border: 1px solid white; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-nav-container{
    display: none;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #267548;
    justify-content: space-around; 
    position: relative;
    top: -100%;
    transition: all 0.4s ease;
}

.second-level-nav-container{
    display: none;
    width: 100%;
    height: 200px;
    align-items: center;
    background-color: #2E8B57;
    color: white;
    flex-direction: column;
    justify-content: space-around; 
    position: relative;
    top: -100%;
    transition: all 0.4s ease;
}

.sub-nav-container.open-nav,
.second-level-nav-container.open-nav{
    display: flex;
    top: 0;
    transition: all 0.4s ease;
    height: calc(auto + 40px);
}


.sub-nav-container > li:hover{
    background-color: #2E8B57;
}

.fa-angle-right.open{
    transform: rotate(90deg);
    transition: 0.4s ease;
}

.fa-angle-right{
    transition: all 0.4s ease;
}

.fa-arrow-right-to-bracket, .fa-arrow-right-from-bracket{
    position: relative;
    font-size: 30px;
    margin-right: 1%;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    /* padding: 0px 5px 5px; */
    /* text-decoration: underline; */
}

.fa-arrow-right-to-bracket:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.fa-arrow-right-to-bracket:hover:after{
    width:100%;
    transition: 0.2s;
}

.no-search-results{
    display: none;   
}

.inner-no-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-no-search > img{
    /* border: 1px solid black; */
    padding: 50px;
    background-color: #267548;
    border-radius: 50px;
    box-shadow: 5px 3px 20px 6px #2E8B57;
}

.sub-nav-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.sub-nav-item-title{
    font-size: 16px;
}

.second-level-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second-level-item:hover{
    background-color: #267548;
    transition: all 0.2s ease-in;
}



.red{
    color: red;
    transition: 0.3s ease-in;
}


#meal-pic{
    
    object-fit: cover;
    border-radius: 5%;
    margin-top: 5%;
}

#instructions-cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-to-fav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 30%;
}

.instruction-container > h2{
    text-align: left;
    width: 100%;
    border: 1 px solid black;
}

section{
    max-width:80vw;
}


.ingredients-list{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
}


#disconnected-body{
    font-family: 'Roboto', sans-serif;
    display: flex;    
    justify-content: center;
    align-items: center;
    
}

.disconnected-container{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E8B57;
    margin-top: 20%;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
}

#goHome{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: -1px 5px 10px 0px rgba(0,0,0,0.75);
}

#goHome:hover{
    cursor: pointer;
    background-color: #d8d8d8;    
}


#error{
    font-weight: bold;
    color: white;
    display: none;
}
